crewai==0.22
ai-characters==1.5.0
python-dotenv==1.0
anthropic==0.21
langchain-anthropic==0.1.4
langchain-openai==0.0.5
crewai-tools==0.1
python-telegram-bot==20.6
alpaca-py==0.20.1
aic_tools_alpaca==0.0.3
aic_tools_pinecone==1.0.1
openai==1.17
langchain-google-genai==1.0.2
google-generativeai==0.5
